#myCarousel{
  padding-top: 50px;
  padding-bottom: 50px;
}

.carousel-inner .item {
  height:500px;
}

.pull-left{
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 0px;
}

.pull-right{
  margin-top: 10px;
  margin-bottom: 5px;
}

.centered {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.left p, h1, h2, h3, h4{
  font-family: 'Raleway', sans-serif;
  font-weight: 200
}

.header{
  background-image: url('photos/Phikeia.jpg');
  padding-top: 100px;
  padding-bottom: 100px;
  color:white;
  font-weight: bold;
  background-color: gray;

}
.header h1{
  font-weight: bold;
  padding-left: 50px;
}

.headercont{
    background-color: #00233d;
    border-bottom: 1px solid #dbdbdb;
      margin-bottom: 25px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
    }

.blue{
  background: #00233d;
  color:white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bluef{
  background: #00233d;
  padding-top: 50px;
  padding-bottom: 50px;
  color:white;
  text-align: center;
}

.white{
  color:black;
  text-align: center;
}

span.glyphicon-envelope {
    font-size: 2em;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.mainheader{
  background-image: url('photos/chapter.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  color:white;
  font-weight: bold;
  background-color: white;

}
}
.jumbotron {
  background-image: url('photos/chapter.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  color: white;
  position: relative;
  top:100px;
}

.jumbotron h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;  
  font-weight: 200;
  position: absolute;
  top: -150px;
  left: 0px;
  text-align: center;
}


.jumbotron p {
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: -50px;
  left: 0px;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.photos{
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
    }
    
.photos h2{
    color: #393c3d;
    font-size: 24px;
    }
    
.photos p{
    font-size: 15px;
    margin-bottom: 13px;
    }

.contact {
  text-align: center;
  color:black;
}

.mycontainer{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}
    